{% extends 'base2.html.twig' %}

{% block title %}Edit Debt{% endblock %}

{% block body %}

    <div class="content-body">
            <div class="verification section-padding">
                <div class="container h-100">
                    <div class="row justify-content-center h-100 align-items-center">
                        <div class="col-xl-5 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Edit debt </h4>
                                </div>
                                <div class="card-body">
                                        {{ include('debt/_form.html.twig', {'button_label': 'Update'}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>  

    <div class="card-footer">
            <a href="{{ path('app_debt_index') }}" class="btn btn-secondary">Back to List</a>
        </div>
{% endblock %}
