<div class="card-body">
    <div class="form-group"> <!-- Container for form elements -->
        <div class="mb-3"> <!-- Wrapper for form label -->
            <label for="NameDebt" class="form-label">Debt Category Name</label>
        </div>
        <div class="mb-3"> <!-- Wrapper for form widget and errors -->
            <input type="text" id="NameDebt" name="NameDebt" class="form-control form-text" placeholder="Enter Name Debt">
            {# You can include form errors here if needed #}
        </div>

        
</div>
