<!DOCTYPE html>
<html
	lang="en">
	<!-- Added by HTTrack -->
	<meta
	http-equiv="content-type" content="text/html;charset=utf-8"/>
	<!-- /Added by HTTrack -->
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="csrf-token" content="{{ csrf_token('authenticate') }}">

		<title>
			{% block title %}PennyWise : Personal Finance Management Dashboard
			{% endblock %}
		</title>
		<!-- Favicon icon -->
		<link
		rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
		<!-- Custom Stylesheet -->
		{% block css %}
		<link rel="stylesheet" href="{{ asset('css/customrabi33.css') }}">

			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
			<link rel="stylesheet" href="{{ asset('vendor/toastr/toastr.min.css') }}">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

			
		{% endblock %}
		

	</head>
	<body class="dashboard">
		<div id="preloader" class="preloader-wrapper">
			<div class="loader">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>

		<div id="main-wrapper">
			{% include 'navbar.html.twig' %} 
			
			{% include 'sidebar.html.twig' %}

			<div class="content-body">
				<div class="container">
				{% block body %}{% endblock %}
				</div>
			</div>
		</div>
		{% include 'footer.html.twig' %}

		{% include 'includejs.html.twig' %}
	</body>
	{% block javascripts %}{% endblock %}
</html></body>
