<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reset your account right now !</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #ffca28;
            padding: 20px;
            text-align: center;
        }
        main {
            padding: 20px;
        }
        footer {
            background-color: #ffca28;
            padding: 20px;
            text-align: center;
        }
        h1, h2, p {
            color: #333;
        }
    </style>
</head>
<body>
    <header>
        <h1>Hey, Here's your reset password code</h1>
    </header>

    <main>
        <p>Hey there! 👋</p>
        <p>
            A little forgetful aren't you ! Well we got you 
        </p>
        
        
        <h2>
            Code : <span>"{{code}}"</span>
        </h2>
    </main>

    <footer>
        <p>Best regards, <br> Your Pennywise Finance Management Team 🚀</p>
    </footer>
</body>
</html>
